body {
    background-color: #E1D7B7;
    
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 50px 100px 1000px 10px;
    height: 100vh;
}

h1 {
    color: #55679C;
    font-size: 7rem;
    font-family: satisfy;
    justify-self: center;
    margin-bottom: 0%;
    grid-column-start: 2;
    grid-column-end: 5;
}

h3 {
    color: #1E2A5E;
    grid-row-start: 2;
    grid-column: span 5;
    justify-self: center;
    font-family: Roboto;
}

.links {
    grid-row-start: 4;
    grid-column-start: 2;
    font-size: 2rem;
}

ol li {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.icons {
    gap: 5px;
    grid-row: 1;
    grid-column-start: 5;
    justify-self: right;
}

@media (max-width: 1250px) {
    /* TO DO */
}
